---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import aboutmePortrait from '@/assets/aboutme.jpg';
---

<Layout title="Rafael López Dorado - About me">
  <div class="min-h-screen py-16 flex items-center justify-center p-4">
    <div class="bg-black bg-opacity-70 rounded-lg shadow-lg p-8 max-w-3xl mx-auto text-white">
      <h1 class="text-4xl font-bold mb-4 text-center md:text-left text-blue-300">About me</h1>
      <div class="flex flex-col items-center mb-8">
        <Image
          src={aboutmePortrait}
          alt="Rafael López Dorado"
          class="rounded-lg w-full h-auto object-cover mb-6"
          width={800}
          height={600}
        />
      </div>
      <div class="space-y-6">
        <p class="text-lg text-gray-300">
          I am a Frontend engineer with over 7 years of experience, specializing in creating
          interactive and engaging web experiences. My passion for technology and design drives me
          to stay up to date with the latest trends and best practices in web development.
        </p>
        <p class="text-lg text-gray-300">
          Throughout my career, I have worked with a wide range of technologies and frameworks,
          including Vue.js, React, and Angular. I love facing new challenges and finding creative
          solutions to complex problems.
        </p>
        <p class="text-lg text-gray-300">
          When I'm not coding, I enjoy running tabletop roleplaying games, hiking, and exploring new
          emerging technologies in the fields of Artificial Intelligence (AI) and User Interfaces
          (UI).
        </p>
      </div>
    </div>
  </div>
</Layout>
