---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Rafael López Dorado - About me">
  <div class="container mx-auto px-4 py-16 mt-16">
    <h2 class="text-3xl font-bold mb-4">About me</h2>
    <p class="text-lg mb-4">
      I am a Frontend engineer with over 7 years of experience, specializing in creating interactive
      and engaging web experiences. My passion for technology and design drives me to stay up to
      date with the latest trends and best practices in web development.
    </p>
    <p class="text-lg mb-4">
      Throughout my career, I have worked with a wide range of technologies and frameworks,
      including Vue.js, React, and Angular. I love facing new challenges and finding creative
      solutions to complex problems.
    </p>
    <p class="text-lg">
      When I'm not coding, I enjoy running tabletop roleplaying games, hiking, and exploring new
      emerging technologies in the fields of Artificial Intelligence (AI) and User Interfaces (UI).
    </p>
  </div>
</Layout>
